<connectionStrings>
  <add name="DefaultConnection"
    connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Chinookweb-3f2d731d-da18-4f98-9675-e7a6263c3084;AttachDbFilename=|DataDirectory|\aspnet-Chinookweb-3f2d731d-da18-4f98-9675-e7a6263c3084.mdf;Integrated Security=SSPI"
    providerName="System.Data.SqlClient"/>
  <add name ="ChinookDB"
       connectinString="Data Source=.\SQLEXPRESS;Initial Catalog;Interated Security=true"
       provideName="System Data.Sq;c;ient"/>
</connectionStrings>
